.container {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 1;
  list-style: none;
  background-color: rgb(45, 170, 166);
  border-radius: 0.7rem;
  padding: 2rem;
  margin: 2rem;
}

.side-item {
  display: block;
  font-size: 1.7rem;
  padding: 1rem;
  margin: 2rem;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid rgb(223, 221, 221);
}

.main {
  flex: 5;
}
