.add-question {
  color: rgb(173, 173, 173);
  background-image: url("./add.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-position: left center;
  height: 35px;
  padding-left: 35px;
  margin: 2rem;
  margin-left: 6rem;
  font-size: 1.5rem;
}
